p {
    line-height: 1.6;
}

.h3-nadpis {
    color: blueviolet;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.h4-nadpis {
    color: blueviolet;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
  }
